<!DOCTYPE html>
<html lang="en">
  <head>
    {% capture head %}{% include head.html %}{% endcapture %}
    {{ head }}
  </head>
  <body>
    <div class="header">
      {% capture header %}{% include header.md %}{% endcapture %}
      {{ header | markdownify }}
    </div>
    <div class="container">
      <div class="row">
	<div class="two-thirds column">
	  {{ content }}
	</div>
	<div class="one-third column menu">
	  {% capture menu %}{% include menu.md %}{% endcapture %}
	  {{ menu | markdownify }}
	</div>
      </div>
    </div>
    <div class="footer">
      {% capture footer %}{% include footer.md %}{% endcapture %}
      {{ footer | markdownify }}
    </div>
  </body>
</html>
